html{
	scroll-behavior: smooth;
}

body{
	font-family: 'Montserrat', sans-serif;
	background-color: #DCE5E1;
}

nav{
	background-color: #0E273C;
}

#landing{
	height: 100vh;
}

.title{
	font-size: 32px;
}
