html{
	scroll-behavior: smooth;
}

body{
	font-family: 'Montserrat', sans-serif;
	background-color: #DCE5E1;
}

nav{
	background-color: #0E273C;
}

.navbar{
	margin-bottom: 16px;
}

#landing{
	height: 100vh;
}

.title{
	font-size: 32px;
}

#about{
	min-height: 100vh;
	max-height: 100vh;
}

.about img{
	max-height: 300px;
}